<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC
    "-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN"
    "http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg.dtd">
<html xml:lang='en' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/1999/xhtml'>
<head><meta content='application/xhtml+xml;charset=utf-8' http-equiv='Content-type' /><title></title></head>
<body>
<h1 id='perlsmoketestplugin'>perl-smoke-test-plugin</h1>

<p>run smoke tests against perl application distributive:</p>

<ul>
<li>check if all dependencies are met</li>

<li>check compilation / syntax errors on given scripts</li>
</ul>

<h1 id='what_it_does'>what it does</h1>

<p>1) Connect to remote host with gien ssh login using ssh public-key authentication schema 2) Upload distributive to host 3) Unpack it 4) Run standard perl Build.PL/Makefile.PL cycle to execute unit tests and check prerequisites 5) So - If anything goes wrong you know it in good time, before release is happened!</p>

<h1 id='plugin_interface'>plugin interface</h1>

<p><img alt='layout' src='https://raw.github.com/melezhik/perl-smoke-test-plugin/master/images/layout.png' /></p>

<h1 id='download_link'>download link</h1>

<p><a href='http://repo.jenkins-ci.org/snapshots/org/jenkins-ci/ruby-plugins/perl-smoke-test/'>http://repo.jenkins-ci.org/snapshots/org/jenkins-ci/ruby-plugins/perl-smoke-test/</a></p>

<h1 id='prerequisites'>prerequisites</h1>

<ul>
<li>curl</li>

<li>perl</li>
</ul>

<h1 id='todo_list'>to-do list</h1>

<ul>
<li>support for ExtUtils::MakeMaker projects ( currently only Module::Build supported )</li>
</ul>
</body></html>
